<h1>WElCOME TO MY RAILS APP</h1>
<div id='homecomtent'>
<p>My first application created in Ruby on Rails feel free to signup and explore the site.</p>
<%= link_to "SIGNUP", signup_path, :class=>'signup_button round'%>
</div>
